*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#slider{
    height: auto;
    overflow: hidden;
}

#slider img{
    height: auto;
}

#titulo{
    border: 1px dashed red;
}

#titulo2{
    border: 1px dashed red;
}

#fotoCarrusel{
    background: black;
    color: white;
    font-size: 18px;
    font-family: arial;
}

#advertencia{
    color: red;
}

#contenidoCon{
    padding: 10px;
}

#contenidoCon table{
    margin: auto;
}

.selector{
    border: 3px solid green;
}